# Core functionality - changes here should be rare!
/src/app.py                   @jhanandini
/src/backend/database.py      @jhanandini
/src/backend/routers/auth.py  @jhanandini

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jhanandini
